{% load static %}
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog"
     data-backdrop='static' data-show='true' aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Available Downloads</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="download-form" method="get">
                    <button type="submit" download="{% static 'trimscape/docs/Algorithm_Definitions.docx' %}" class="btn btn-sm btn-primary">Disease Algorithm Definitions</button>
                    <button type="submit" download="{% static 'trimscape/docs/Data_Definition.docx' %}" class="btn btn-sm btn-primary">Riskscape Data Definition</button>
                </form>
            </div>
        </div>
    </div>
</div>