{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>RiskScape</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "trimscape/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "trimscape/css/trimscape.css" %}">
  <script type='text/javascript' src="{% static "trimscape/js/jquery-3.5.1.min.js" %}"></script>
  <script type='text/javascript' src="{% static "trimscape/js/bootstrap.bundle.min.js" %}"></script>

  {% block extra_media %}{% endblock %}
</head>
<body>
<div id="branding" class="container no-print">
    <div class="row">
        <div class="col-md-1 disabled">
            <h1 class="pull-left">RiskScape</h1>
        </div>
    </div>
</div>
  {% block content_wrapper %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}
</body>
</html>

