{% extends 'analysis/graphable.html' %}
{% load static %}

{% block main %}
    {{ block.super }}
    <div class="row graphs">
        {% if data.0.location == data.1.location %}
	    {% if stratify2 == 'none' %}
            	<div class="col-md-12">
                	{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=1 %}
            	</div>
	    {% else %}
            	<div class="col-md-12">
			{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=3 %}
            	</div>
            	<div class="col-md-6">
                	{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=2 strat_id=1 %}
            	</div>
            	<div class="col-md-6">
                	{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=3 strat_id=2 %}
            	</div>
	    {% endif %}
        {% else %}
	    {% if stratify2 == 'none' %}
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=1 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=2 strat_id=1 %}
                </div>
	    {% else %}
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=3 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=2 strat_id=3 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=3 strat_id=1 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=4 strat_id=1 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=5 strat_id=2 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=6 strat_id=2 %}
                </div>
	    {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript'>
        // Date parameters
        updateTimeChunk('{{ chunked|capfirst }}');
	$('#time-interval').hide();
	$('#start-date').hide();
	$('#timebound-breadcrumb').find('>span:first').hide();
	$('#timebound-breadcrumb').find('>small:first').hide();        
	$('#timebound-breadcrumb').find('>small:last').html('month & year:');        

        var chartInterval = null;
        function buildGraphs(url) {
            $("[data-loc]").each(function () {
		strat_id = $(this).attr('data-strat').split("-").slice(1).join("-");
		if (strat_id == 3){
                    makeBarChart2($(this).find('div.barchart:first'), strat_id);
		} else {
                    makeBarChart($(this).find('div.barchart:first'));
                    makePieChart($(this).find('div.piechart:first'), strat_id);
		}
            });
            activateLoadingOverlay();
            chartInterval = setInterval(function () {
                getChartData(url);
            }, 500);
        }
        function getChartData(chartCache) {
            $.ajax({
                url: chartCache,
                type: 'get',
                dataType: 'json',
                cache: false,
                success: function (response) {
                    if (response.complete) {
                        clearInterval(chartInterval);
			var chartColors = {};
			var strat_id = 1;
			var load_data = 0;
			var stratifier = 'none';
			var stratifier2 = 'none';
                        $("[data-loc]").each(function () {
                            strat_id = $(this).attr('data-strat').split("-").slice(1).join("-");
			    if (strat_id == 2){
		                load_data = response.data2;
				stratifier = '{{stratify2}}';
			        chartColors = getChartColors(load_data, stratifier);
			    } else if (strat_id == 3){
		                load_data = response.data3;
				stratifier = '{{stratify}}';
				stratifier2 = '{{stratify2}}';
			        chartColors = getChartColors(load_data, stratifier2);
			    } else {
		                load_data = response.data;
				stratifier = '{{stratify}}';
			        chartColors = getChartColors(load_data, stratifier);
			    }
                            loadLocationData($(this), load_data, chartColors, stratifier, stratifier2, strat_id);
			    if ( strat_id !=3 ) {
                            	equalizeAxes($(this), stratifier);
			    }
                        });
                        deactivateLoadingOverlay();
                    }
                },
                error: function (err) {
                    clearInterval(chartInterval);
                    $('#error-alert').show();
                    deactivateLoadingOverlay();
                    console.log(err);
                }
            });
        }

        function getChartColors(data, stratifier){
            var strat = new Set();
            for (var key in data) {
                for (let i=0; i < data[key].length; i++){
                    strat.add(data[key][i][stratifier]);
                }
            }
            var colorNames = Array.from(strat);
            var chartColors = {};
            for (let i = 0; i < colorNames.length; i++ ){
                chartColors[colorNames[i]] = colors[i];
            }
            return chartColors;

        }
	
        function equalizeAxes(container, stratifier) {
            var values = [];
            var bar = container.find('div.barchart:first');
            values.push(Math.max(...bar.data('c3-chart').data.values(stratifier)));
            var high = Math.max(...values);
            var yMax = Math.ceil(high);
            if (high < .1){
                yMax = Math.ceil(high*100)/100;
            }else if (high < 1){
                yMax = Math.ceil(high*10)/10;
            }
            bar.data('c3-chart').axis.max(yMax);
        }

        function loadLocationData(container, data, chartColors, stratifier, stratifier2, strat_id) {
            var location = container.attr('data-loc').split("-").slice(1).join("-");
            data = data[location];
            if (!data) {
                markInsufficient(container);
            } else {
                if (stratifier == 'none') {
                    data = [data];
                }
                var myColors = [];
		var color_strat = strat_id == 3 ? stratifier2 : stratifier;
                for (let i = 0; i < data.length; i++){
                    myColors.push(chartColors[data[i][color_strat]]);
                }
                var barContainer = container.find('div.barchart:first');
                barContainer.data('data-graphable', data);
		if (strat_id == 3){
                    addBarChartData2(barContainer.data('c3-chart'), data, stratifier, stratifier2);
		} else {
                    barContainer.data('data-colors', myColors);
                    addBarChartData(barContainer.data('c3-chart'), data, stratifier);
                    var pieContainer = container.find('div.piechart:first');
                    pieContainer.data('data-graphable', data);
                    pieContainer.data('data-colors', myColors);
                    addPieChartData(pieContainer, data, stratifier);
		}
            }
        }

        function markInsufficient(target) {
            target.find('.card').remove();
            target.find('.alert').show();
        }

        function getColor(target, idx){
            if (idx != null) {
                return target.data('data-colors')[idx];
            }else{
                return target.data('data-colors');
            }
        }

        function makeBarChart(target, chartColors) {
            var graphable = target.data('data-graphable');
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 5,
                },
                data: {
                    type: 'bar',
                    columns: [],
                    color: function (color, d) {
                        try {
                            return getColor(target, [d.index]);
                        }catch(err){
                            return '#0275D8';
                        }
                    }
                },
                axis: {
                    x: {
                        type: 'category',
                    },
                    y: {
                        padding: {top: 0, bottom: 0}
                    }
                },
                tooltip: {
                    format: {
                        name: function (name, ratio, id, index) {
                            return "";
                        },
                        value: function (value, ratio, id, index) {
                            var datum = target.data('data-graphable')[index];
                            if (datum["numerator"] == -1) {
                                return "Insufficient Data";
                            }
                            if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
                            return value + '% (' + datum["numerator"] + '/' + datum["denominator"] + ')';
                        }
                    }
                },
                color: {pattern: ['#0275D8']},
                legend: {
                    show: false
                },
                size: {height: 250}
            });
            target.data('c3-chart', chart);
        }

        function makeBarChart2(target, strat_id) {
	    var strat1 = '{{ stratify }}'; 
	    var strat2 = '{{ stratify2 }}'; 
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 5,
                },
                data: {
                    type: 'bar',
                    columns: []
                },
                axis: {
                    x: {
                        type: 'category',
                    },
                    y: {
                        padding: {top: 0, bottom: 0}
                    }
                },
                tooltip: {
                    format: {
                        value: function (value, ratio, id, index) {
			    var data = target.data('data-graphable');
			    cats = [];
                            // get x-axis categories
			    data.forEach(function (item, idx) {
                                if (cats.indexOf(decodeHtml(item[strat1])) == -1 && item[strat1] !== undefined) {
                                    cats.push(decodeHtml(item[strat1]));
                                }
			    });
			    var category = cats[index];
			    var numerator = null;
			    var denominator = null;
			    decode_id =decodeHtml(id);
			    data.forEach(function (item, idx) {
				let is_item = (decodeHtml(item[strat1]) == category) && (decodeHtml(item[strat2]) == decode_id);
				if (is_item){
				    numerator = item["numerator"];
				    denominator = item["denominator"];
				}

			    });
                            if (numerator == -1) {
                                return "Insufficient Data";
                            }
                            if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
                            //return value + '%';
                            return value + '% (' + numerator + '/' + denominator + ')';
                        }
                    }
                },

                legend: {
                    show: true
                },
                size: {height: 250}
            });
            target.data('c3-chart', chart);
        }

        function makePieChart(target, strat_id) {
	    var strat = (strat_id == 2) ? '{{ stratify2 }}' : '{{ stratify }}'; 
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 15
                },
                data: {
                    columns: [],
                    type: 'pie',
                    order: null,
                },
                pie: {
                  label: {
                    show: false
                  }
                },
                size: {height: 300},
                legend: {
                    show: true
                },
                tooltip: {
                    format: {
                        value: function (value, ratio, id, index) {
                            var tot = 0;
                            $.each(target.data('data-graphable'), function (idx, elem) {
                                if (elem[strat] == 'All' || elem[strat] == 'Unstratified') {
                                    tot = elem['numerator'];
                                }
                            });

                            var datum = target.data('data-graphable')[index];
                            var val = ratio * 100;
                            if (val > 1) {
                                val = val.toFixed(1);
                            } else {
                                val = val.toFixed(2);
                            }
                            return val + '% (' + datum["numerator"] + '/' + tot + ')';
                        }
                    }
                }
            });
            target.data('c3-chart', chart);
        }

        function makeScatterPlot(target) {
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 5,
                },
		point: {
		    r: 8
		},
                data: {
                    type: 'scatter',
                    columns: []
                },
                axis: {
                    x: {
                        type: 'category'
                    },
                    y: {
                        padding: {top: 0, bottom: 0}
                    }
                },
                tooltip: {
		    grouped: true,
                    format: {
                        value: function (value, ratio, id, index) {
                            var datum = target.data('data-graphable')[index];
                            if (datum["numerator"] == -1) {
                                return "Insufficient Data";
                            }
                            if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
                            return value + '%';
                        }
                    }
                },

                legend: {
                    show: true
                },
                size: {height: 250}
            });
            target.data('c3-chart', chart);
        }

        function addBarChartData(chart, graphable, stratifier) {
            var cats = [];
            var cols = [stratifier];
            var regions = [];
            graphable.forEach(function (item, idx) {
                let num = item['numerator'] < 0 ? 0 : item['numerator'];
                if (item['numerator'] < 0) {
                    regions.push({axis: 'x', start: idx - .3, end: idx + .3, class: 'insufficient'});
                }
                cols.push((num / item['denominator']) * 100);
                cats.push(decodeHtml(item[stratifier]));
            });
            chart.load({
                columns: [cols],
                categories: cats
            });
            chart.regions.add(regions);
        }

        function addBarChartData2(chart, graphable, stratifier, stratifier2) {
            var cats = [];
            var col_names = [];
            var columns = [];
	    var col_colors = {};
            graphable.forEach(function (item, idx) {
		// save stratifier as x-axis categories
		if (cats.indexOf(decodeHtml(item[stratifier])) == -1 && item[stratifier] !== undefined) {
                    cats.push(decodeHtml(item[stratifier]));
		}
		// save stratifier2 as column names, and save column colors
		if (item[stratifier2]) {
		if (col_names.indexOf(item[stratifier2]) == -1) {
                    col_names.push(item[stratifier2]);
		    col_colors[item[stratifier2]] = colors[idx];
		}
		}
            });
	    // initialize columns with column names
	    col_names.forEach(function(cname){
	         cn = decodeHtml(cname);
		 columns.push([cn]);
	    });
            columns.forEach(function(col){
                strat2 = col[0]; // strat2 value in first element
	    	cats.forEach(function(strat1){
	    	    if (strat1){
	    		item = graphable.find(x => decodeHtml(x[stratifier]) === strat1 && decodeHtml(x[stratifier2]) === strat2);
		    	if (item !== undefined){
			    let num = item['numerator'] < 0 ? 0 : item['numerator'];
	    		    let ratio = (num / item['denominator']) * 100;
	    		    col.push(ratio);
	    	    	} else {
	    		    col.push(null);
	                }
	    	    }
	    	});
	    });
            chart.load({
                columns: columns,
                categories: cats,
		colors: col_colors
            });
        }

        function  selectChart(ctype, position) {
	    var x = (ctype.value || ctype.options[ctype.selectedIndex].value);
            $("[data-loc]").each(function () {
		let strat_id = $(this).attr('data-strat').split("-").slice(1).join("-");
	        if (strat_id == 3) {
		    let barContainer = $('#bar-'+ position.toString() );
		    chart = barContainer.data('c3-chart');
		    chart.transform(x);
		}
	    });
	}

        function addPieChartData(target, graphable, stratifier) {
            var chart = target.data('c3-chart');
            var cols = [];

            graphable.forEach(function (item) {
                if (item[stratifier] == "All") {
                    return;
                }
                var piece = [];
                let num = item['numerator'] < 0 ? 0 : item['numerator'];
                piece.push(decodeHtml(item[stratifier]));
                piece.push(num);
                cols.push(piece);
            });
            var myColors = {};
            for (let i = 0; i < cols.length; i++){
                myColors[cols[i][0]] = getColor(target, i);
            }
            chart.data.colors(myColors);
            chart.load({
                columns: cols
            });

        }

        function get_label_text(strat) {
            return $('button[data-stratify="' + strat + '"]').first().text();
	}

        $(".strat-label-1").html(get_label_text('{{ stratify }}'));
        $(".strat-label-2").html(get_label_text('{{ stratify2 }}'));
        $(".strat-label-3").html(get_label_text('{{ stratify }}') + ' and ' + get_label_text('{{ stratify2 }}'));

        {% if data.0.location == data.1.location %}
            buildGraphs("{% url 'current_cache' data.0.cache -1 %}");
        {% else %}
            buildGraphs("{% url 'current_cache' data.0.cache data.1.cache %}");
        {% endif %}
    </script>


{% endblock %}
