<div class="modal fade" id="graphable-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Select Graph Stratifiers and Parameters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="graphable-toolbar" class="modal-body container">
		{% if timeseries or current %}
                <div class="row">
                    <div class="col-md-4">First Stratifier:</div>
                    <div class="col-md-8">
                        <button id="strat-group" data-stratify="{{ stratify }}" type="button"
                                class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span>
			    {% include 'analysis/strat_label.html' %}
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="strat-group">
                            {% include 'analysis/menu_search.html' %}
                            <div class="scroller">
                                {% for ni in static_stratifications %}
                                        <a class="dropdown-item" data-stratify="{{ ni.name }}"
                                           href="javascript:updateStrat('strat-group','{{ ni.name }}','{{ ni.label }}');">{{ ni.label }}</a>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                                {% for field in outcome_form %}
                                    <a class="dropdown-item" data-stratify="{{ field.name }}"
                                       href="javascript:updateStrat('strat-group','{{ field.name }}','{{ field.label }}');">{{ field.label }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
		{% endif %}
		{% if current %}
                <div class="row">
                    <div class="col-md-4">Second Stratifier:</div>
                    <div class="col-md-8">
                        <button id="strat-group2" data-stratify="{{ stratify2 }}" type="button"
                                class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span>
                            {% include 'analysis/strat_label2.html' %}
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="strat-group2">
                            {% include 'analysis/menu_search.html' %}
                            <div class="scroller">
                                {% for ni in static_stratifications %}
                                        <a class="dropdown-item" data-stratify="{{ ni.name }}"
                                           href="javascript:updateStrat('strat-group2','{{ ni.name }}','{{ ni.label }}');">{{ ni.label }}</a>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                                {% for field in outcome_form %}
                                    <a class="dropdown-item" data-stratify="{{ field.name }}"
                                       href="javascript:updateStrat('strat-group2','{{ field.name }}','{{ field.label }}');">{{ field.label }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
		{% endif %}
		{% if timeseries or current %}
                <div class="row">
                    <div class="col-md-4">First Location:</div>
                    <div class="col-md-8">
                        <button id="location-one" data-location="{{ data.0.location }}" type="button"
                                class="btn btn-sm btn-outline-primary dropdown-toggle location-button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{ data.0.location }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="location-one">
                            {% include 'analysis/locations.html' with owner='location-one' %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Second Location:</div>
                    <div class="col-md-8">
                        <button id="location-two"
                                data-location="{% if data.0.location == data.1.location %}none{% else %}{{ data.1.location }}{% endif %}"
                                type="button"
                                class="btn btn-sm btn-outline-primary dropdown-toggle location-button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {% if data.0.location == data.1.location %} None {% else %}
                                {{ data.1.location }}
                            {% endif %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="location-two">
                            {% include 'analysis/locations.html' with owner='location-two' %}
                        </div>
                    </div>
                </div>
		{% endif %}
                    <div class="row" id="time-interval">
                        <div class="col-md-4">Time Interval:</div>
                        <div class="col-md-8">
                            <button id="time-chunk" type="button"
                                    class="btn btn-sm btn-outline-primary dropdown-toggle"
                                    data-chunk="{{ chunked }}" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span>{{ chunked|capfirst }}ly</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="time-chunk">
                                {% with 'month quarter year' as chunks %}
                                    {% for chunk in chunks.split %}
                                        <a class="dropdown-item"
                                           href="javascript:updateTimeChunk('{{ chunk|capfirst }}');">{{ chunk|capfirst }}ly</a>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="row" id="start-date">
                        <div class="col-md-4">Start Date:</div>
                        <div class="col-md-8">
                            {% if dynamic_start %}
                                {% with time=dynamic_start %}
                                    {% include 'analysis/bound-time.html' with bound="start" %}
                                {% endwith %}
                            {% else %}
                                {% with time=default_start %}
                                    {% include 'analysis/bound-time.html' with bound="start" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" id="end-date">
			{% if timeseries %}
                        <div class="col-md-4">End Date:</div>
			{% else %}
                        <div class="col-md-4">Month & Year:</div>
			{% endif %}
                        <div class="col-md-8">
                            {% if dynamic_end %}
                                {% with time=dynamic_end %}
                                    {% include 'analysis/bound-time.html' with bound="end" %}
                                {% endwith %}
                            {% else %}
                                {% with time=default_end %}
                                    {% include 'analysis/bound-time.html' with bound="end" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm mr-auto"
                        onclick="forwardForm($('#graphable-toolbar').attr('data-url'));">Graph
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
