body {
    width: 1200px;
    margin-top: 5px;
}

#branding {
    margin-bottom: 15px;
}

span[data-toggle=collapse] {
    cursor: pointer;
}

span[data-toggle=collapse]:hover {
    color: #0275d8;
}

div.filter div {
    margin-left: 20px;
}

.list-group-item-action {
    cursor: pointer;
}

.list-group-item-action.disabled {
    cursor: default;
}

#condition-picker .card {
    padding: 5px;
}

#condition-picker .card-text {
    margin-left: 20px;
}

.card[data-url] {
    cursor: pointer;
}

.card {
    margin:10px;
}

.navbar {
    border: 1px solid #0275d8;
}

#outcome-modal .modal label {
    margin-right: 15px;
    cursor: pointer;
}

#outcome-modal .modal label:hover {
    color: #0275d8;
}

#outcome-modal .modal {
    margin-top: 50px;
    left: -200px;
}

.modal-footer {
    margin-top: 25px;
    text-align: left;
}

#outcome-modal .modal-footer > div {
    padding-top: 5px;
}

.carousel-controls {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
    display:block;
}
.carousel-indicators {
  top: -10px;
  margin:0;
  padding-left:15px;
  padding-right:15px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #999;
    background-color: rgba(70, 70, 70, .25);
}
.carousel-indicators li:not(:last-child) {
  margin-right: 20px;
}
.carousel-indicators .active {
    background-color: #0275d8;
}

.carousel-inner {
    top: 20px;
}

.carousel-item .placeholder {
    background-color: white;
    border: 1px dotted lightgrey;
}

.carousel-item .card, .carousel-item .card .fa{
    color: #fff;
}

.carousel-item .card .fa:hover{
    color: #fff;
}

.carousel-item .card img{
    //filter: brightness(1%);
}
.carousel-item .one {
    background-color: rgb(94,79,162);
}

.carousel-item .two {
    background-color: rgb(67,125,179);
}

.carousel-item .three {
    background-color: rgb(163,7,67);
}

.carousel-item .four {
    background-color: rgb(88,175,173);
}

.carousel-item .five {
    background-color:  rgb(244,124,77);
}

.carousel-item .six {
    background-color: midnightblue;
}

.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.condition-movement {
    margin-top: 20px;
}

.condition-movement i,
.condition-movement img {
    color: white;
    cursor: pointer;
}

.condition-movement i {
    margin-botton: 0.4rem;
}

.condition-movement img {
    margin-bottom: 0.25rem;
}

.condition-movement i:hover {
    color: lightgrey;
}

.condition-movement img:hover {
    filter: brightness(80%);
}

.condition-movement small {
    font-size: small;
    margin-left: 3px;
}

ol.breadcrumb {
    font-size: smaller;
    border: 1px solid #0275d8;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}

ol.breadcrumb.button {
    cursor: pointer;
}

ol.breadcrumb.button:hover {
    filter: brightness(95%);
}

ol.breadcrumb li small {
    font-style: italic;
}

li.breadcrumb-item {
    font-size: 85%;
    font-weight: bold;
}

li.breadcrumb-header i {
    font-size: 85%;
    margin-right: -10px;
    margin-top: -5px;
    padding-left: 5px;
}

ol.breadcrumb.button:hover li.breadcrumb-header i {
    color: #0275d8;
}

.small {
    font-size: small;
}

.smallest {
    font-size: x-small;
}

path.zipcode {
    stroke: #fff;
    stroke-width: 1.5px;
    fill-opacity: 1;
}

path.zipcode:hover:not(.nozip) {
    cursor: pointer;
    filter: brightness(50%);
}

path.nozip {
    fill: #9C7C59;
    opacity: 0.5;
}

.map-tip {
    position: absolute;
    top: 75px;
    left: 565px;
    display: none;
    width: 320px;
    z-index: 1000;
    opacity: 0.9;
}

input[type=range] {
    padding-top: 0px;
    margin-left: 100px;
}

path.zip-highlight {
    fill: black;
}

/*.barchart td.name {
    display: none;
}*/

td.hid {
    opacity: 0;
}

td[data-id]:hover {
    cursor: pointer;
}

thead th, td {
    text-align: center;
}

tbody th {
    text-align: right;
}

#time-card tbody th button {
    margin-right: 5px;
    margin-left: 5px;
}

#time-card table button {
    width: 30px;
}

.graph-text {
    font-size: xx-large;
}

#time-card-footer table {
    font-size: small;
    border-collapse: collapse;
}

#time-card-footer table, #time-card-footer th, #time-card-footer td {
    border: 1px solid #0275d8;
}

.form-group:not(.has-danger) .form-control-feedback {
    display: none;
}

.larger {
    font-size: x-large;
}

.c3-chart-arcs {
    stroke: #fff;
    stroke-width: 1px;
}


.c3-region.insufficient {
    fill: black;
}

.c3-xgrid-line line {
    stroke: blue;
}

.c3-axis-x-label, .legend-title {
    font-style: oblique;
    font-size: larger;
}

.c3-target-dotted {
    stroke-dasharray: 3, 3;
}

.state-prev-control {
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: larger;
    border-radius: 5px;
}

.state-prev-control:empty {
    display: none;
}

.leaflet-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}

#loading-overlay {
    position: absolute;
    z-index: 5000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    display: none;
}

#loading-overlay > div {
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: xx-large;
}

.inflection {
    stroke: blue;
}

.dropdown-menu {
    padding: 3px;
}

.dropdown-menu > .scroller, .dropdown-menu.scroller {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.dropdown-item.hidden {
    display: none;
}

.btn-label:hover {
    pointer: none;
}

#graphable-toolbar .row {
    padding-bottom: 3px;
}

table#coc-table tbody td:first-child,
table#coc-table thead th:first-child {
    text-align: left;
}

table#coc-table tbody td:not(:first-child),
table#coc-table thead th:not(:first-child) {
    text-align: right;
}

#map-container #legend {
    background: #ffffff url("/static/trimscape/img/legend-back.png") repeat-x right top;
    background-size: contain;
}

.alert-sm {
    font-size: small;
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

table.registration-review th,
table.registration-review td{
    text-align: left;
}

table.registration-review tbody td:last-child,
table.registration-review thead th:last-child {
    text-align: right;
}

#coc-table .fa {
    cursor: pointer;
    padding-left: 2px;
    font-size: smaller;
    vertical-align: top;
}

#coc-table .fa-info-circle {
    padding-left: 5px;
}

#coc-table .fa-info-circle:hover {
    color: #0275d8;
}

#coc-table{
    table-layout: fixed;
}

.tr-click td:hover{
    cursor: pointer;
}

#coc-table tr td:first-child > .fa:first-child{
    visibility: hidden;
}

#coc-table tr.denominator td:first-child > .fa:first-child{
    visibility: visible;
}

#coc-table tr th:first-child{
    width: 75%;
}

.dash-target{
    cursor: pointer;
}

.dash-target:hover{
    filter: brightness(85%);
    border: 1px inset;
}

#change-password li{
    font-size: small;
    list-style-type: none
}
#change-password .errorlist{
    color: red;
}
.errorlist{
    color: red;
}


