{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
    {% blocktrans %}
    A new user ({{user}}) has requested access to RiskScape.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans with site_name=site.name%}
    First, login to review the new user information at: {{ site_name }}/admin/auth/user/
    {% endblocktrans %}
</p>
<p>
    Next, if you are sure the user should have access, click here:  
    <a href="http://{{site.domain}}{% url 'registration_admin_approve' profile_id %}"> {% trans "approve access" %}</a>.
</p>
</body>

</html>

