{% if outcome.files|length == 0 %}
    <div class="col-md-12">
        Disease not available
    </div>
{% else %}
    <div id="{{ outcome.name }}-container" class="coc-dash"
         class="col-md-12" data-filenames="{{ outcome.files }}" data-url='{% url 'coc' outcome.name %}'>
        Disease good
    </div>
{% endif %}

