{% extends 'trimscape/app_base.html' %}
{% load static %}

{% block main %}
    <button type="button" class="btn btn-outline-primary btn-sm bg-light mb-1 text-dark" onclick="$('#coc-modal').modal('show');">
        <span class="breadcrumb-header float-left">
            <small>Stratifiers</small>
            <i class="fa fa-bars"></i>
        </span>
	<br>
    <ol id="coc-breadcrumb" class="breadcrumb border-light">
    </ol>
    </button>
    <div class="row">
        <div class="col-md-12">
            <table id="coc-table" class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>{{ sites.0.coc_disease }}
                        <button id="toggle-inline-graph" class="btn btn-sm btn-link pull-xs-right">Show Inline Graph
                        </button>
                    </th>
                    <th>Count</th>
                    <th>Percent</th>
                </tr>
                </thead>
                <tbody class="tr-click">
                </tbody>
            </table>
            <div class="card card-outline-primary">
                <div class="card-header bg-primary text-white">Click Row to Add to Graph
                    <button class="btn btn-sm btn-primary pull-xs-right" onclick="resetGraph();">Reset</button>
                </div>
                <div class="card-block">
                    <div class="card-body">
                        <div id="coc-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'coc/detail-selector-modal.html' %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "trimscape/js/d3.v5.min.js" %}"></script>
    <script type='text/javascript' src="{% static "trimscape/js/c3.0.7.20.min.js" %}"></script>
    <script type='text/javascript'>
        var siteData = {};
        var rowMetaData = null;
        let activeColors = [];
        let filters = null;

        let chart = c3.generate({
            bindto: '#coc-chart',
            data: {
                type: 'bar',
                columns: [],
                color: function (color, d) {
                    try {
                        return activeColors[d.index];
                    } catch (err) {
                        return '#0275D8';
                    }
                },
                line: {
                    connectNull: true
                },
            },
            bar: {
                zerobased: true
            },
            axis: {
                x: {
                    type: 'category',
                    tick: {}
                },
                y: {
                    padding: {top: 0, bottom: 0},
                    default: [0, 1],
                    max: 1,
                    min: 0,
                    tick: {
                        values: [0, .1, .20, .30, .40, .50, .60, .70, .80, .90, 1],
                        format: d3.format(".0%")
                    }

                }
            },
            tooltip: {
                format: {
                    value: function (value, ratio, id, index) {
                        var format = d3.format('.2%');
                        let count = $($('tr[data-graphed=true]').get(index)).find('td:nth(1)').html();
                        let actual = " (" + count + "/" + maxVal + ")";
                        return format(value) + actual;
                    }
                }
            },
            legend: {
                show: false
            },
            transition: {
                duration: 500
            },
            size: {height: 300}
        });

        {% for site in sites %}
            siteData['{{ site.site_name }}'] = null;
        {% endfor %}

        $("#toggle-inline-graph").on('click', function () {
            updateInlineGraph($(this), $(this).html().includes("Show"));
        });

        $('#coc-table').on('click', 'td', function () {
            let tr = $(this).parent();
            let graphed = tr.attr("data-graphed") == "true";
            if (graphed) {
                degraphRow(tr);
            } else {
                let color = colors[$('tbody tr').index(tr) % colors.length];
                tr.find('td').css({'border-bottom': '2px solid ' + color});
                tr.attr("data-graphed", true);
            }
            updateGraph();
        }).on('mouseenter', 'tr', function () {
            let nest = parseInt($(this).attr('data-nest')) - 1;
            if (nest >= 0) {
                $(this).addClass('denominator').find("span.tag").html("Numerator");
                $(this).prevAll('[data-nest="' + nest + '"]:first').addClass('denominator').find("span.tag").html("Denominator");
            }
        }).on('mouseleave', 'tr', function () {
            $('.denominator').removeClass('denominator');
            $('span.tag').html("");
        });

        function degraphRow(row) {
            row.find('td').css({'border-bottom': ''});
            row.attr("data-graphed", false);
        }

        function resetGraph() {
            $('tr[data-graphed]').each(function () {
                degraphRow($(this));
            });
            updateGraph();
        }

        let maxVal = 0;

        function updateGraph() {
            maxVal = 0;
            let graphVals = [];
            let cats = [];
            activeColors = [];
            $('tbody tr').each(function (idx) {
                if ($(this).attr('data-graphed') == 'true') {
                    let count = parseInt($(this).find('td:eq(1)').html());
                    cats.push($(this).find('td:eq(0)').text().replace("Numerator", ""));
                    maxVal = Math.max(maxVal, count);
                    graphVals.push(count);
                    activeColors.push(colors[idx % colors.length]);
                }
            });

            if (graphVals.length > 0) {
                let graphPercent = [];
                graphPercent.push("");
                graphVals.forEach(function (e) {
                    graphPercent.push(e / maxVal * 1.0);
                });
                chart.load({columns: [graphPercent], categories: cats});
            } else {
                chart.unload({ids: [""]});
            }
        }

        function getSiteData(site, url) {
            return $.getJSON(url).done(function (data) {
                siteData[site] = data['rowdata'];
                rowMetaData = data['rowmeta'];
                filters = data['filters'];
            });
        }

        function loadData() {
            activateLoadingOverlay();
            var deferred = [];
            {% for site in sites %}
                deferred.push(getSiteData('{{ site.site_name }}', '{{ site.data_file.url }}?{{ site.pk }}'));
            {% endfor %}

            $.when.apply($, deferred).done(function () {
                updateSelectors();
                setRows();
                resetForm();
                deactivateLoadingOverlay();
            });
        }

        function updateSelectors() {
            $.each(filters, function (idx, val) {
                let goodFilter = val;
                $("input[name='" + goodFilter + "'], select[name='" + goodFilter + "']").parents("div").removeClass("invisible");
            });
            $("input, select").parents("div.invisible").remove();
        }

        function updateInlineGraph(el, show) {
            $('td:first-child').each(function () {
                let size = '0% 100%';
                if (show) {
                    size = $(this).siblings(":last").text() + '% 100%';
                }
                $(this).css('background-size', size);
            });
            if (show) {
                el.html(el.html().replace('Show', 'Hide'));
            } else {
                el.html(el.html().replace('Hide', 'Show'));
            }
        }

        function setRows() {
            let colorIdx = 0;
            let colorList = [];
            for (var k in rowMetaData) {
                var rmd = rowMetaData[k];
                let nest = parseInt(rmd["nest"]);
                var tr = $('<tr>').attr({"id": "row-" + k, "data-graphed": false, "data-nest": nest});
                let tdCSS = {};
                if (nest == 0) {
                    tr.addClass('font-weight-bold');
                } else {
                    tdCSS['background-position'] = (rmd['nest'] * 20) - 5 + 'px';
                }

                if (nest == colorList.length) {
                    colorList.push(getColor(colorIdx++));
                } else if (nest < colorList.length) {
                    colorList = colorList.splice(0, nest + 1);
                }
                let barColor = hexToRGB(colorList[nest], 50);
                tdCSS['padding-left'] = rmd['nest'] * 20 + 'px';
                tdCSS['background-size'] = '0% 100%';
                tdCSS['background-repeat'] = 'no-repeat';
                tdCSS['background-image'] = 'linear-gradient(' + barColor + ',' + barColor + ')';
                tdCSS['border-right'] = '1px solid lightgray';
                tdCSS['transition'] = 'background-size 0.5s';

                tr.append(($('<td>')
                    .css(tdCSS)
                    .html(rmd['name']))
                    .prepend($("<i>").addClass("fa fa-arrow-circle-right text-primary"))
                    .append($("<i>").addClass("fa fa-info-circle")
                        .attr({"data-toggle": "tooltip", "data-placement": "top", "title": rmd['description']}))
                    .append($("<span>").addClass("tag tag-pill tag-primary pull-right"))
                )
                    .append($('<td>'))
                    .append($('<td>'));
                $('#coc-table tbody').append(tr);
            }
        }

        function showData(data) {
            if (data == null) {
                resetTable();
            } else {
                for (var k in data) {
                    var datum = data[k];
                    if (datum[0] == null) {
                        datum[0] = '-';
                        setDataCol(k, datum, '-', '-');
                    } else {
                        let percent = datum[0] / data[rowMetaData[k]['pcalc']][0];
                        if (isNaN(percent) || percent == Infinity) {
                            setDataCol(k, datum, '-', '-');
                        }
                        else {
                            percent = percent * 100;
                            if (percent < 100 && percent > 0) {
                                setDataCol(k, datum, percent.toFixed(1), percent.toFixed(3));
                            } else {
                                setDataCol(k, datum, percent, percent);
                            }
                        }
                    }
                }
            }
            updateInlineGraph($("#toggle-inline-graph"), !$('#toggle-inline-graph').html().includes('Show'));
            $('[data-toggle="tooltip"]').tooltip();
        }

        function setDataCol(row, datum, displayPerc, toolPerc) {
            let dataCol = $('tr#row-' + row + " td:eq(1)");
            dataCol.html(datum[0]);
            if (datum[1]) {
                dataCol.append($("<i>").addClass("fa fa-info-circle")
                    .attr({
                        "data-toggle": "tooltip",
                        "data-placement": "top",
                        "title": "Some or all of the selected stratifiers had a value of 1-5 represented as 2.5"
                    }));
            }
            $('tr#row-' + row + " td:last").html(displayPerc).append($("<i>").addClass("fa fa-percent").attr({
                "data-toggle": "tooltip",
                "data-placement": "right",
                "title": toolPerc
            }));
        }

        function resetTable() {
            $('tbody tr td').not(":first-child").html("-");
        }

        function mergeData(sites, key_set) {
            let data = null;
            if (sites[0] === 'x') {
                sites = Object.keys(siteData);
            }
            for (let site = 0; site < sites.length; site++) {
                for (let key = 0; key < key_set.length; key++) {
                    let sd;
                    try {
                        sd = siteData[sites[site]][key_set[key]];
                    } catch (e) {
                    }
                    if (typeof sd !== 'undefined') {
                        if (data == null) {
                            data = {};
                        }
                        for (let field in sd) {
                            if (data[field] == null) {
                                data[field] = [null, false];
                            }
                            if (sd[field] != null) {
                                data[field][0] = data[field][0] == null ? sd[field] : data[field][0] + sd[field];
                                if (sd[field] == 2.5) {
                                    data[field][1] = true;
                                }
                            }
                        }
                    }
                }
            }
            return data;
        }

        function updateTable() {
            let sites = null;
            $('#coc-toolbar .btn-group:first').each(function () {
                sites = get_checked_array($(this));
            });
            let keys = [];
            $('#coc-toolbar .btn-group').not(':first').each(function () {
                keys.push(get_checked_array($(this)));
            });
            let year = $('#coc-toolbar select option:selected').val();
            let f = (a, b) => [].concat(...a.map(a => b.map(b => [].concat(a, b))));
            let cartesian = (a, b, ...c) => b ? cartesian(f(a, b), ...c) : a;
            let key_set = cartesian.apply(this, keys).map(function (e) {
                e = e.join("");
                return year+''+e;
            });
            showData(mergeData(sites, key_set));
            updateGraph();
            updateBreadcrumb();
        }

        function updateBreadcrumb() {
            $('#coc-breadcrumb .breadcrumb-item').remove();
            $('#coc-toolbar .btn-group:first').each(function () {
                let title = $(this).siblings().prev().text().trim();
                let names = [];
                $(this).find('label.active').each(function () {
                    names.push($(this).text().trim());
                });
                addBreadcrumb(title, names)
            });
            $('#coc-toolbar select').each(function () {
                let title = $(this).parent().siblings().prev().text().trim();
                let name = $(this).find('option:selected').text().trim();
                ;
                addBreadcrumb(title, [name])
            });
            $('#coc-toolbar .btn-group:gt(0)').each(function () {
                let title = $(this).siblings().prev().text().trim();
                let names = [];
                $(this).find('label.active').each(function () {
                    names.push($(this).text().trim());
                });
                addBreadcrumb(title, names)
            });

        }

        function addBreadcrumb(title, names) {

            let li = $('<li>', {class: 'breadcrumb-item', html: title + ': ' + names.join(", ")});
            $('#coc-breadcrumb').append(li);
        }

        function get_checked_array(target) {
            return target.find(':checkbox:checked').map(function () {
                return this.value;
            }).get()
        }

        function set_base_form() {
            $('#coc-toolbar .btn-group').each(function () {
                let all = $(this).find('input:first');
                if (all.prop('checked', false)) {
                    all.click();
                }
            });
            $("#coc-toolbar select").val($("#coc-toolbar select option:first").val());
        }

        function resetForm() {
            set_base_form();
            updateTable();
        }

        function flipCheckbox(lbl) {
            let inp = lbl.find('input:first');
            let check = inp.prop('checked');
            if (check) {
                lbl.addClass('active');
            } else {
                lbl.removeClass('active');
            }
            lbl.blur();
            checkPseudoRadio(lbl);
        }

        function checkPseudoRadio(lbl) {
            if (lbl.is(':first-child') && (lbl.hasClass('active'))) {
                lbl.siblings().children('input:checked').click();
            }
            if (lbl.not(':first-child') && (lbl.hasClass('active')) && lbl.siblings().first().hasClass('active')) {
                lbl.siblings().first().children('input:checked').click();
            }
            if (!lbl.hasClass('active') && lbl.siblings('.active').length === 0) {
                lbl.siblings().first().children('input').click();
            }

        }

        loadData();
    </script>
{% endblock %}
