{% extends 'trimscape/app_base.html' %}
{% load static %}

{% block main %}
    <div class="row">
        <div>
            {% include 'trimscape/dashboard.html' with body="coc/dashboard-body.html" %}
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "trimscape/js/d3.v5.min.js" %}"></script>
    <script type='text/javascript' src="{% static "trimscape/js/c3.0.7.20.min.js" %}"></script>
    <script type='text/javascript'>

        function getSiteData(target, url) {
            return $.getJSON(url).done(function (data) {
                let disease = diseasedata[target.attr("id")];
                disease['data'].push(data['rowdata']);
                disease['meta'] = data['rowmeta'];
                disease['filters'] = data['filters'];
            });
        }

        let diseasedata = {};

        function loadData() {
            activateLoadingOverlay();
            $(".coc-dash").each(function () {
                let filenames = $(this).data("filenames");
                let deferred = [];
                if (filenames) {
                    setClickableCard($(this));
                    diseasedata[$(this).attr("id")] = {'meta': null, 'data': [], 'filters': null};
                    filenames = filenames.split(",");
                    for (let i = 0; i < filenames.length; i++) {
                        deferred.push(getSiteData($(this), filenames[i]));
                    }

                }
                $.when.apply($, deferred).done(function () {
                    $(".coc-dash").each(function () {
                        let id = $(this).attr("id");
                        if (diseasedata[id]['meta']) {
                            loadChart($(this), diseasedata[id]['meta'], diseasedata[id]['data'], diseasedata[id]['filters']);
                        }
                    });
                    deactivateLoadingOverlay();
                });
            });
        }

        function setClickableCard(target){
            let card = target.parents(".card");
            card.addClass("dash-target");
            card.on('click', function(){
                window.location.href=target.data('url');
            })
        }

        function loadChart(target, meta, data, filters) {
            let percentages = calculatePercent(meta, mergeData(meta, data, getBaseDataKey(filters)));
            percentages.unshift("data");
            //var width = parseInt(target.css('width').replace("px",""));
	    var width = 200;

            let chart = c3.generate({
                bindto: "#"+target.attr("id"),
                data: {
                    type: 'bar',
                    columns: [percentages],
                    line: {
                        connectNull: true
                    },
                },
                color: {pattern: ['#fff']},
                axis: {
                    x: {show: false},
                    y: {show: false}
                },
                bar: {
                    zerobased: true
                },
                legend: {
                    show: false
                },
                tooltip: {
                    show: false
                },
                interaction: {
                    enabled: false
                },
                size: {height: 150, width: width}
            });

        }

        function getBaseDataKey(filters){
            if ($.inArray('year',filters)>-1){
                return 'YEAR'+Array(filters.length).join('x');
            }else{
                return Array(filters.length+1).join('x');
            }
        }

        function calculatePercent(meta, data) {
            let perc = [];
            for (var k in data) {
                var datum = data[k];
                if (datum == null) {
                    var percent = null;
                } else {
                    percent = datum / data[meta[k]['pcalc']];
                    if (isNaN(percent) || percent == Infinity) {
                        percent = null;
                    }
                    else {
                        percent = percent * 100;
                        if (percent < 100 && percent > 0) {
                            percent = parseFloat(percent.toFixed(1));
                        }
                    }
                    perc.push(percent)
                }
            }
            return perc;
        }

        function mergeData(meta, sites, key) {
            var data = null;
            var siteKeys = Object.keys(meta);
            for (var j = 0; j < sites.length; j++) {
                for (var i = 0; i < siteKeys.length; i++) {
                    var sd;
                    try {
                        sd = sites[j][key];
                    } catch (e) {
                        console.log(e);
                    }
                    if (typeof sd != 'undefined') {
                        if (data == null) {
                            data = $.extend({}, sd);
                        } else {
                            for (var field in data) {
                                if (data[field] != null && sd[field] != null) {
                                    data[field] += sd[field]
                                }
                            }
                        }
                    }
                }
            }
            return data;
        }

        loadData();
    </script>
{% endblock %}
